.heading {
  border-bottom: 2px solid rgba(var(--accent-color), 1);
  text-align: left;
  padding: 5px;
  margin: 20px 0 0 0;
  width: 100%;
}

.card-with-blur {
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  overflow: hidden;
  margin: 10px;
}

.card-with-blur:hover {
  border-color: rgba(var(--accent-color), 1);
  background-color: rgba(var(--accent-color), 0.1);
}
