.card {
  max-height: 50%;
  max-width: 280px;
  min-width: 280px;
  padding: 48px;
}

.button-wrapper {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  left: 0;
}

button {
  width: 50%;
  color: white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border: none;
  border-bottom: none;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  height: 40px;
}

a {
  text-decoration: none;
  color: white;
}

svg,
span,
a {
  vertical-align: middle;
  padding: 5px;
}
